mat-form-field {
  background-color: rgb(232,248,248) !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: blue !important;
}

.layout-page {
  margin: 7%;
  padding: 6%;
  border: 5px solid cadetblue;
  border-radius: 25px;
}

.warning {
  color: red;
}
