<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="hallNumber">
    <th mat-header-cell *matHeaderCellDef id="hallNum">Номер на зала</th>
    <td mat-cell *matCellDef="let element">{{ element.hallNumber }}</td>
  </ng-container>
  <ng-container matColumnDef="facultyName">
    <th mat-header-cell *matHeaderCellDef>Факултет</th>
    <td mat-cell *matCellDef="let element">{{ element.facultyName }}</td>
  </ng-container>
  <ng-container matColumnDef="reservedDate">
    <th mat-header-cell *matHeaderCellDef>Дата на резервиране</th>
    <td mat-cell *matCellDef="let element">
      {{ element.reservedDate | date : "dd.MM.yyyy" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="reservedHour">
    <th mat-header-cell *matHeaderCellDef>Час на резервиране</th>
    <td mat-cell *matCellDef="let element">
      {{ element.reservedHour + ":00" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef id="actions">Действия</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="deleteReservation(element.id, element.reservedHour, element.reservedDate)">Изтрий резервация</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
